<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <style>
        html {
            font-family: monospace;
            font-size: 120%;
            background-color: black;
            color: lightgreen;
        }
        .chat_line {
            border-bottom: dotted 2px lightgreen;
            padding: 5px;
            margin: 0;
        }
        .chat_line:first-of-type {
            border-top: dotted 2px lightgreen;
        }
        .chat_line .username {
            font-weight: bold;
            font-style: italic;
        }
    </style>
</head>
<body>
    <h1>Chat</h1>
    
    <div id="app">
        <!-- FIXME 2: Blende die "Seiten" der App korrekte ein und aus -->
        <div v-if="state.page === 'ask_username'">
            <!-- FIXME 1: Verbinde das Template mit dem JS Code -->
            <input type="text" placeholder="Username" v-model="state.username" v-on:keydown.enter="join_chat()">&nbsp;
            <button v-on:click="join_chat()">Join chat room</button>
        </div>
        <div v-else-if="state.page === 'chat'">
            <!-- FIXME 4: Zeige die Chatnachrichte (Autor:in und Message) an -->
            <p class="chat_line" v-for="msg in state.messages">
                <span class="username">{{msg.sender}}: </span>{{msg.content}}
            </p>
            <p>
                <input type="text" placeholder="Enter message" v-model="state.message" v-on:keydown.enter="send_message()">&nbsp;
                <select v-model="state.receiver">
                    <option value="">All</option>
                    <!-- FIXME 8: Zeige die Usernamen aller User an in der Selectbox an -->
                </select>&nbsp;
                <input type="text" placeholder="Password" v-model="state.password" v-on:keydown.enter="send_message()">&nbsp;
                <button v-on:click="send_message()">Send!</button>
            </p>
            <p>
                <!-- FIXME 6.1: Knopf zum Verlassen des Chats -->
                <button v-on:click="leave_chat()">Leave Chat</button>
            </p>
            <p>
                <input type="text" placeholder="Encrypted Message" v-model="state.encryptedMessage">
                &nbsp;
                <input type="password" placeholder="Password" v-model="state.decryptionPassword">
                &nbsp;
                <button v-on:click="decrypt()">Decrypt!</button>
                <br>
                <span style="border: 1px solid white; padding: 3px; margin: 3px;">
                    {{state.decryptedMessage}}
                </span>
            </p>
        </div>
    </div>

    <script src="libs/vue.global.js"></script>
    <script src="libs/axios.js"></script>
    <script type="module">
        var {createApp, reactive} = Vue  // "import"
        //axios wird automatisch importiert
        import {deriveKey, encryptMessage, decryptMessage} from "./crypto.js"

        function setup() {
            var state = reactive({
                page: "ask_username",
                username: "",
                messages: [],
                message: "",
                receiver: "",
                password: "",
                encryptedMessage: "",
                decryptionPassword: "",
                decryptedMessage: "",
            })

            function process_message(msg) {
                // Normale Message
                state.messages.push(msg)

                // Neuer User
            }

            async function get_messages() {
                // FIXME 3: Lade die Liste der Nachrichten vom Back-End. 
                // Betrachte dazu die Datei chat_api.py
                var response = await axios.get("/api/chat/")
                for (let msg of response.data) {
                    process_message(msg)
                }
            }
            // FIXME 7:
            //setInterval(get_messages, 3000)

            async function join_chat() {
                state.page = "chat"
                await axios.post("/api/chat/", {sender: state.username, content: "Joining chat!", type: "join"})
                get_messages()
            }

            async function send_message() {
                // FIXME 5: Senden einer Nachricht
                let msg = state.message
                if (state.password) {
                    // FIXME: Message verschlüsseln
                    msg = "Encrypted message 2354680rdfjkbngfrui324jkhd"
                }
                await axios.post("/api/chat/", {sender: state.username, receiver: state.receiver, content: msg})
                state.message = ""
            }

            // FIXME 6.2: Funktion für das Verlassen des Chats.
            function leave_chat() {
                state.page = 'ask_username'
                state.username = ''
            }

            function decrypt() {
                // FIXME: decrypt state.encryptedMessage with state.decryptionPassword
                // and store it in state.decryptedMessage
                state.decryptedMessage = "Jag älskar dig"
            }

            let event_source = new EventSource("/api/chat/stream")

            function eventHandler(event) {
                let msg = JSON.parse(event.data)
                process_message(msg)
            }

            event_source.onmessage = eventHandler

            return {
                "state": state,
                "join_chat": join_chat,
                "leave_chat": leave_chat,
                "send_message": send_message,
                "decrypt": decrypt,
            }
        }

        var app = createApp({"setup": setup})
        app.mount("#app")
    </script>
</body>
</html>
